@{
    ViewBag.Title = "Administracion";
}
<div class="row">
    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                @*<img src="https://thumbs.dreamstime.com/b/texturice-la-tela-manchada-o-el-material-de-papel-del-color-beige-oscuro-95236683.jpg" alt="...">*@
            </div>
            <div class="card-body">
                <div class="author">
                    <a href="">
                        <img class="avatar border-gray" src="~/content/assets/img/piezas2.jpg" alt="...">
                        <h5 class="title">Productos</h5>
                    </a>
                </div>
                <br />
                <div style="text-align:center">
                    <input type="button" class="btn-sm btn-info" style="text-align:center" value="Ver productos">
                    <input type="button" class="btn-sm btn-success" style="text-align:center" value="Nuevo producto">
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                @*<img src="https://thumbs.dreamstime.com/b/texturice-la-tela-manchada-o-el-material-de-papel-del-color-beige-oscuro-95236683.jpg" alt="...">*@
            </div>
            <div class="card-body">
                <div class="author">
                    <a href="">
                        <img class="avatar border-gray" src="~/content/assets/img/prov.jpg" alt="...">
                        <h5 class="title">Proveedores</h5>
                    </a>
                </div>
                <br />
                <div style="text-align:center">
                    <input type="button" class="btn-sm btn-info" style="text-align:center" value="Ver proveedores">
                    <input type="button" class="btn-sm btn-success" style="text-align:center" value="Nuevo proveedor">
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                @*<img src="https://thumbs.dreamstime.com/b/texturice-la-tela-manchada-o-el-material-de-papel-del-color-beige-oscuro-95236683.jpg" alt="...">*@
            </div>
            <div class="card-body">
                <div class="author">
                    <a href="">
                        <img class="avatar border-gray" src="~/content/assets/img/Almacen.jpg" alt="...">
                        <h5 class="title">Ubicaciones</h5>
                    </a>
                </div>
                <br />
                <div style="text-align:center">
                    <input type="button" class="btn-sm btn-info" style="text-align:center" value="Ver ubicaciones">
                    <input type="button" class="btn-sm btn-success" style="text-align:center" value="Nueva ubicación">
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                @*<img src="https://thumbs.dreamstime.com/b/texturice-la-tela-manchada-o-el-material-de-papel-del-color-beige-oscuro-95236683.jpg" alt="...">*@
            </div>
            <div class="card-body">
                <div class="author">
                    <a href="">
                        <img class="avatar border-gray" src="~/content/assets/img/marcas.jpg" alt="...">
                        <h5 class="title">Marcas</h5>
                    </a>
                </div>
                <br />
                <div style="text-align:center">
                    <input type="button" class="btn-sm btn-info" style="text-align:center" value="Ver Marcas">
                    <input type="button" class="btn-sm btn-success" style="text-align:center" value="Nueva marca">
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                @*<img src="https://thumbs.dreamstime.com/b/texturice-la-tela-manchada-o-el-material-de-papel-del-color-beige-oscuro-95236683.jpg" alt="...">*@
            </div>
            <div class="card-body">
                <div class="author">
                    <a href="">
                        <img class="avatar border-gray" src="~/content/assets/img/tipo.jpg" alt="...">
                        <h5 class="title">Tipos de piezas</h5>
                    </a>
                </div>
                <br />
                <div style="text-align:center">
                    <input type="button" class="btn-sm btn-info" style="text-align:center" value="Ver tipos">
                    <input type="button" class="btn-sm btn-success" style="text-align:center" value="Nuevo tipo">
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                @*<img src="https://thumbs.dreamstime.com/b/texturice-la-tela-manchada-o-el-material-de-papel-del-color-beige-oscuro-95236683.jpg" alt="...">*@
            </div>
            <div class="card-body">
                <div class="author">
                    <a href="">
                        <img class="avatar border-gray" src="~/content/assets/img/usuario.jpg" alt="...">
                        <h5 class="title">Usuarios</h5>
                    </a>
                </div>
                <br />
                <div style="text-align:center">
                    <input type="button" class="btn-sm btn-info" style="text-align:center" value="Ver usuaios">
                    <input type="button" class="btn-sm btn-success" style="text-align:center" value="Nuevo usuario">
                </div>

            </div>

        </div>
    </div>
</div>