@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <img src="~/Content/assets/img/iconos/capacidad.png">

                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Capacidad</p>
                            <p class="card-title">78%<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i>
                    Actualizar
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <img src="~/Content/assets/img/iconos/Ventas.png">

                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Piezas vendidas</p>
                            <p class="card-title"></p>1,345<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-calendar-o"></i>
                    Mes
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                        <img src="~/Content/assets/img/iconos/recibidas.png">
                        
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Piezas recibidas</p>
                            <p class="card-title">27<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-calendar-o"></i>
                    Mes
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <img src="~/Content/assets/img/iconos/prov.png">
                            
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Proveedores</p>
                            <p class="card-title">65<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i>
                    Actualizar
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Buscar producto</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <form>
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control col-md-12" placeholder="Buscar por palabra clave...">

                            </div>
                            <br />


                        </form>
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <img src="~/Content/assets/img/iconos/lupa.png" width="90">

                        </a>
                    </div>

                </div>
                <div>
                    <a style="justify-content:right" href="#">Busqueda Avanzada</a>

                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Buscar producto</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <form>
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control col-md-12" placeholder="Buscar por palabra clave...">

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Categoría de pieza</label>

                                    <div class="input-group no-border">

                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option selected disabled>Seleccionar categoría</option>
                                            <option>Aceite hidraulico</option>
                                            <option>Banda de frenos</option>
                                            <option>Bombillo</option>
                                            <option>Bujía</option>
                                            <option>Motor de arranque</option>
                                            <option>Retrovisor</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Marca</label>

                                    <div class="input-group no-border">

                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option selected disabled>Seleccionar marca</option>
                                            <option>Bosch</option>
                                            <option>Eurol</option>
                                            <option>Honda</option>
                                            <option>Kombat</option>
                                            <option>Toyota</option>
                                            <option>Wurth</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <br />

                        </form>
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <img src="~/Content/assets/img/iconos/lupa.png" width="180">

                        </a>
                    </div>
                </div>
                
                <br />
                @*<a style="justify-content:right" href="#">Busqueda Simple</a>*@
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Productos</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Nombre
                        </th>
                        <th>
                            Categoría
                        </th>
                        <th>
                            Marca
                        </th>
                        <th>
                            Cant. Disponible
                        </th>
                        <th class="text-right">
                            Detalles
                        </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Dakota band 31X
                                </td>
                                <td>
                                    Banda de frenos
                                </td>
                                <td>
                                    Kombat
                                </td>
                                <td class="text-center">
                                    2
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Detalles" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Hykrol VHLP ISO 68
                                </td>
                                <td>
                                    Aceite hidraulico
                                </td>
                                <td>
                                    Eurol
                                </td>
                                <td class="text-center">
                                    7
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Detalles" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Bujía Bosch Niquel WR8DCX
                                </td>
                                <td>
                                    Bujía
                                </td>
                                <td>
                                    Bosch
                                </td>
                                <td class="text-center">
                                    6
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Detalles" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Retrovisor Izq. Toyota Corolla 2004
                                </td>
                                <td>
                                    Retrovisor
                                </td>
                                <td>
                                    Toyota
                                </td>
                                <td class="text-center">
                                    1
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Detalles" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Motor de arranque ARQ12V
                                </td>
                                <td>
                                    Motor de arranque
                                </td>
                                <td>
                                    Honda
                                </td>
                                <td class="text-center">
                                    6
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Detalles" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Bombillo H11 12 55W
                                </td>
                                <td>
                                    Bombillo
                                </td>
                                <td>
                                    Wurth
                                </td>
                                <td class="text-center">
                                    23
                                </td>
                                <td class="text-right">
                                    <input type="button" class="btn btn-warning" value="Detalles" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

    