@using Microsoft.AspNet.Identity
<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="#" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="~/Content/assets/img/logo-small.png">
            </div>
            <!-- <p>CT</p> -->
        </a>
        <a href="#" class="simple-text logo-normal">
            SIGA
            <!-- <div class="logo-image-big">
              <img src="~/content/assets/img/logo-big.png">
            </div> -->
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a href="./dashboard.html">
                    <i class="nc-icon nc-bank"></i> 
                    <p>INICIO</p>
                </a>
            </li>
            <li>
                <a href="./icons.html">
                    <i class="nc-icon nc-diamond"></i>
                    <p>Productos</p>
                </a>
            </li>
            <li>
                <a href="./map.html">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Almacén virtual</p>
                </a>
            </li>
            <li>
                <a href="./notifications.html">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notificaciones</p>
                </a>
            </li>
            <li>
                <a href="./user.html">
                    <i class="nc-icon nc-single-02"></i>
                    <p>Mis Movimientos</p>
                </a>
            </li>
            <li>
                <a href="./tables.html">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>Administración</p>
                </a>
            </li>
            @*<li class="active-pro">
                <a href="./upgrade.html">
                    <i class="nc-icon nc-spaceship"></i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>*@
        </ul>
    </div>
</div>